<#assign ctx=request.getContextPath()>
<#include "../homePage-header.html"/>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    html,body{
        height: 100%;
    }

    #header_id{
        height: 50px;
        width: 100%;
        background: #2ae0c8;
    }
    #body_id{
        /*保证footer是相对于container位置绝对定位*/
        position:relative;
        width:100%;
        min-height:100%;
        /*设置padding-bottom值大于等于footer的height值，以保证main的内容能够全部显示出来而不被footer遮盖；*/
        padding-bottom: 50px;
        box-sizing: border-box;
    }
    #content_id{
        width: 100%;
        height: 100%;
    }
    #footer_id{
        width: 100%;
        height:50px;   /* footer的高度一定要是固定值*/
        position:absolute;
        bottom:0px;
        left:0px;
        background:#e3c887;
    }
    /*#main_left_id{
        position:absolute;
        margin-top:50px;
        left:0;
        width:15%;
        height: 200px;
        background:#B4CDCD;
        }*/
    #main_id{
        margin-left: 2%;
        width:60%;
    }
    #main_right_id{
        margin-left:3%;
        position: fixed ! important;
        right: 0px;
        top:120px;
        width:35%;
        height:70%;
        background:#B4CDCD;
    }
    #noLoginWarning_id{
        margin-left:3%;
        position: fixed ! important;
        right: 0px;
        top:50px;
        width:35%;
        display: none;
    }
</style>
<body>
<div id="body_id">
<!--header-->
<nav id="header_id" class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">secret</a>
        </div>
        <div>
            <ul class="nav nav-pills navbar-nav navbar-left">
                <li class="active" id="24_hours_id" onclick="searchData('24_hours_id')"><a href="#">24小时最热</a></li>
                <li id="7_days_id" onclick="searchData('7_days_id')"><a href="#">7天最热</a></li>
                <li id="the_month_id" onclick="searchData('the_month_id')"><a href="#">近一个月最热</a></li>
                <li id="three_month_id" onclick="searchData('three_month_id')"><a href="#">近三个月最热</a></li>
                <li id="the_year_id" onclick="searchData('the_year_id')"><a href="#">本年最热</a></li>
                <li id="myself_id" onclick="searchData('myself_id')"><a href="#">我的</a></li>
            </ul>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <a href="#" class="button button-primary button-pill button-tiny">Go</a>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li id="register_id" onclick="loginOrRegister('register_id')"><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <#if loginType?exists><!--已经登录-->
            <li id="layout_id" onclick="loginOrRegister('layout_id')"><a href="#"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
            <#else><!--未登录-->
            <li id="login_id" onclick="loginOrRegister('login_id')"><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </#if>
        </ul>
    </div>
</nav>

<!--内容区域-->
<div  id="content_id">
    <!--左侧部分-->
    <!--<div id="main_left_id">
    <div>
        左侧显示区域！
    </div>
    </div>-->
    <!--主内容区域-->
    <div id="main_id">
        <#if articleVoList?exists && (articleVoList?size>0)>
            <#list articleVoList as articleVo>
            <div>
                <p><b>${articleVo.articleUsername!''}</b>&nbsp;&nbsp;创建于：${articleVo.createDate?string("yyyy-MM-dd HH:mm:ss")}
                <p>${articleVo.articleTitle!'默认标题'}</p>
                <textarea style="resize:none;width:95%;height:420px;">${articleVo.content!'暂无内容'}</textarea>
            </div>
            </#list>
        </#if>
    </div>
    <!--右侧部分-->
    <div id="main_right_id">
        <div>
            <p>红稣手，黄藤酒，满城春色宫墙柳。东风恶，欢情薄。一杯愁绪，几年离索。错、错、错。</p>
            <p>春如旧，人空瘦，泪痕红浥鲛绡透。桃花落，闲池阁，山盟虽在，锦书难托。莫、莫、莫。</p>
            <p>世情薄，人情恶，雨送黄昏花易落。晓风干，泪痕残，欲笺心事，独语斜栏。难、难、难。</p>
            <p>人成各，今非昨，病浑常似秋千索。角声寒，夜阑珊，怕人寻问，咽泪装欢。瞒、瞒、瞒。</p>
        </div>
        <div style="margin-left:25%;margin-top:35%;">
        <a href="#" onclick="releaseArticle()" class="button button-3d button-primary button-pill button-small">发布新内容</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onclick="goTop()" class="button button-3d button-primary button-pill button-small">返回顶部</a>
        </div>
    </div>
    <!--未登录不允许操作警告提示-->
    <div id="noLoginWarning_id" class="alert alert-danger alert-dismissable" style="background: #FF69B4;">
        <button type="button" class="close" onclick="hidenWarning()" style="width: 20px;"
                aria-hidden="true">
            &times;
        </button>
        请登录后再进行操作！
    </div>
</div>
<!--footer-->
<footer id="footer_id">
<p style="margin-top:20px;text-align: center;">Copyright 2018 - 2019 Secret. All Rights Reserved</p>
</footer>
    <!--隐藏域-->
    <!--隐藏登录状态  查看我的及发布文章时有用-->
    <input type="hidden" id="loginType_hidden" value="${loginType!''}">
    <!--隐藏当前查询数据的类型(id)-->
    <input type="hidden" id="active_id" value="24_hours_id">
</div>
</body>
<script>
    //查询对应数据
    function searchData(id){
        //拿到上一个的查询数据类型的id，并移除其class样式
        var lastId = $("#active_id").val();
        $("#"+lastId).removeClass("active");
        //将当前数据类型增加class样式
        $("#"+id).addClass("active");
        //隐藏当前id
        $("#active_id").val(id);
        //我的 未登录不允许查看
        if(id !=null && id =="myself_id"){
            //校验是否登陆
            if($("#loginType_hidden").val() == null || $("#loginType_hidden").val() == ""){
                $("#noLoginWarning_id").show();
            }
        }else if(id !=null && id =="goToHeader_id"){
            window.location.href = "/index/index.html";
        }else{//加载对应的数据
            $.ajax(function(){
                url:"",
                type:"POST",
                data:{type:"type"},
                dataType:"json",
                success:function(data){

                }
            });
        }
    }
    //登录或者注册或者退出
    function loginOrRegister(id){
        window.location.href = "/index/loginOrRegister.html?id="+id;
    }
    //返回顶部
    function goTop(){
        $("html,body").animate({scrollTop:0},500);
    }
    //关闭警告提示
    function hidenWarning(){
        $("#noLoginWarning_id").hide();
    }
    //发布秘密
    function releaseArticle(){
        //校验是否登陆
        if($("#loginType_hidden").val() == null || $("#loginType_hidden").val() == ""){
            $("#noLoginWarning_id").show();
        }else{
            window.location.href = "/index/toReleaseArticlePage.html";
        }
    }
</script>
</html>